.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-modal-content {
  padding: 0 !important;

}

.dup_class {
  padding: 0 !important;
}

.ant-table-thead .ant-table-cell {
  background-color: #E7EDF6 !important;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-table-wrapper .ant-table-container{
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child{
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child{
  border-radius: 0;
}
.ant-btn-default:hover {
  border-color: #BABABA !important;
  color: #fff !important;
}

.ant-btn-default {
  border-color: #BABABA !important;
}

.ant-table-content {
  max-height: 800px;
  overflow-y: scroll;
}

.ant-table-tbody .ant-table-cell:not(:last-child) {
  padding-left: 0;
  padding-right: 0;
}

.ant-table-thead .ant-table-cell {
  text-align: center !important;
}

.ant-table-tbody .ant-table-cell:not(:last-child) {
  text-align: center !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BABABA;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BABABA;
}